.login-form-container{
    width: 50%;
    margin: 300px auto;
    padding: 0;
}

.login-form{
    width: 500px;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.input-username-container, .input-password-container, .submit-btn-container{
    width: 70%;
    margin:  0 0 10px 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn-container{
    justify-content: flex-end;
}

.login-label{
    width: 100px;
    margin: 0 10px 0 0;
    padding: 5px;
    font-size: 1.2rem;
    text-align:right;
    color: #666;
}

.login-input{
    width: 250px;
    padding: 5px 10px;
    font-size: 1.2rem;
    border: 0;
    border: 1px solid #aaa;
    border-radius: 5px;

}

.login-input:focus{
    outline-color: deepskyblue;
}

.submit-btn{
    margin: 0;
    padding: 8px 45px;
    font-size: .8rem;
    border: 0;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.submit-btn:hover{
    background-color: deepskyblue;
    color: #333;
}